---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 15%;
      background-color: rgb(32, 32, 32);
    }
    div {
      color: white;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1rem;
    }
    p {
      padding-top: 15%;
      color: white;
    }
  </style>
  <body>
    <div>
      <h1>We are so back</h1>
      <h2>We are busy preparing for a new launch</h2>
      <h3>But may take a long time to complete</h3>
      <h4>Hold tight</h4>
    </div>
  </body>
  <p>© GDVNPS 2025</p>
</html>
